.logos {
    background-color: black;
}

.logo-left {
    height: 5rem;
    margin-left: 8rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.logo-right {
        height: 5rem;
        margin-right: 8rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
}