.logos {
    background-color: var(--hogblack);
}

.logo-left {
    height: 5rem;
    margin-left: 8rem;
    margin-top: .7rem;
    margin-bottom: .7rem;
}

.logo-right {
    height: 5rem;
    margin-right: 8rem;
    margin-top: .7rem;
    margin-bottom: .7rem;
}