/* Nav-top */

.nav-top header {
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    text-align: right;
    right: 0%;
}

.navbar-nav {
    margin-right: 8rem;
}

.navbar {
    background-color: var(--hogyellow);
    height: 2rem;
}

.nav-top a {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1rem;
    color: var(--hogblack);
}

.nav-top a:hover {
    text-decoration: underline;
}

/* Nav-Bottom */

.navbar-links {
    margin-left: 8rem;
}

.navbar-color {
    background-color: var(--hogwhite)
}

.navbar-links a {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-size: 1.05rem;
    color: var(--hogblack);
}

.navbar-links a:hover {
    text-decoration: underline;
}