.news {
    background-color: var(--hogwhite);
    margin-top: 0rem;
    height: 100vh;
    width: 50vw;
    overflow: hidden;
    float: right;
    margin-right: 0rem;

}

.news-title h1 {
        text-align: left;
        padding-left: .3rem;
        font-family: 'Hind Siliguri', sans-serif;
        text-transform: uppercase;
        font-size: 2rem;
        color: var(--hogblack);
    }