.terms {
    height: 10vh;
    float: inline-end;
    background-color: var(--hogblue);
}

.terms-container {
    position: relative;
    top: 1rem;
    margin: 5rem 5rem 5rem 5rem;
    height: 30rem;
}

.terms h1 {
    text-align: center;
    font-size: .74rem;
}

.terms p {
    text-align: center;
    font-size: .75rem;
}